:root {
    --primary: #174084;
    --lightblue: #4981B7;
    --blue: #B3CBE7;
    --red: #D21B0F;
    --black: #000;
    --text: #0c0a0b;
    --grey: #F3F8FC;
    --greyC: #ccc;
    --white: #fff;
    --pColor: #4e4e4e;
    --footerBG: #2A91D3;
    --lightgreen: #64FFD9;
    --h1: 45px;
    --h2: 36px;
    --h3: 30px;
    --h4: 20px;
    --h5: 18px;
    --h6: 14px;
    --p: 16px;
    --p25: 25px;
}
body{
    margin: 0;
    padding: 0;
}

/* Courses Search */
.university_search{
	margin:60px 0;
}
.search-top .count .number{
	color:var(--primary);
	font-weight:600;
	
}
.search_result{
	margin-top:20px;
	/* box-shadow: 0px 4px 6px -2px rgba(0,0,0,.14), 0px 8px 16px rgba(0,0,0,.1); */
	border-radius:20px;
	overflow:hidden;
}
.search_result_inner{
	background:#fff;
	margin:30px;

}
.border-line{
border: 1px solid #adadad;
}

.university_logo img {
	max-width: 200px;
	height: 100px;
	object-fit: contain;
	margin: 20px 10px 30px;
}
h5.uni_name{
	text-align: center;
	border-top: 1px solid var(--primary);
	padding: 15px 15px 10px;
	margin: 0;
}
.location{
	display: flex;
	justify-content: left;
	align-items: center;
	padding:10px;
	background-color: #f2f2f2;
}
.location img{
	width:70px;
	height: 30px;
	object-fit: contain;
	margin-right: 10px;
}
.location h4{
	font-weight: 600;
	margin:0;
}
.p-20{
	padding: 0 20px;
}
table {
	border-collapse: collapse;
	width: 100%;
}

table th,
table td {
	border: none;
	padding: 5px 10px;
	text-align: left;
}

table th {
   background-color:var(--primary) ;
   color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.btn-button{
	margin-top: 20px;
	background-color:var(--primary) ;
	color: #fff;
	border: 1px solid var(--primary);
	display: inline-block;
	width:100%;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	border-radius: 0;
}
.btn-button:hover{
	background-color: #fff;
	color:var(--primary);
}
.uni_details ul{
	padding:0;
	margin:0;
}
.uni_details ul li{
	display:flex;
	align-items:center;
	width:50%;
	float:right;
	color:#fff;
	font-size:18px;
	font-weight:600;
	background:var(--primary);
	padding:0 20px;
}
.uni_details ul li:first-child{
	background : #D21B0F;
	text-align:left;
}
.uni_details h3{
	font-weight: 600;
	padding: 10px 20px;
	display: inline-block;
	width:100%;
font-size:22px;
}

.search_result.intake{
	padding: 0px 15px 30px;
}
.search_result.intake .search_result_inner{
	margin:30px 0 0;
}
.search_result.intake .university_logo img{
	margin:10px 0 20px;
}
.search_result.intake .search_result_inner h3{
	text-align:Center;
	font-size:20px;
	padding:20px 20px 0;
	margin:0;
	}
.search_result.intake .uni_details ul li{
	width:100%;
	padding:10px;
	text-align:center;
	font-size: 16px;
} 
.search_result .uni_details{
	position:relative;
	padding-bottom:70px;

}
.search_result .uni_details .button{
	position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
}

ul.pagination{
	margin:20px 0 20px 0;
}

@media(max-width:767px){
	.uni_details h3{
		font-size:16px;
	}
	h5.uni_name{
		font-size:16px;
	}
	.university_logo img,
	.search_result.intake .university_logo img{
	margin: 20px;
	}
	.uni_details ul li{
		width:100%;
	}
	.uni_details table th, .uni_details table td{
		padding:5px;
	}
	.uni_details table th{
		font-size:14px;
	}
	.uni_details table td{
		font-size:12px;
	}
}
/* Courses Search */

/* Select2 Dropdown */
.select2-container--default .select2-selection--single{
	height: 38px;
	border: 1px solid #ced4da;
	border-radius: .375rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 35px;
}

.form-group{
	margin-bottom: 10px;
}

.submit {
    border: 1px solid var(--red);
    background: var(--red);
    padding: 10px;
    color: var(--white);
    display: block;
	width:100%;
    text-align: center;
    border-radius: 8px;
    transition: 0.2s ease;
	margin: 10px 0;
}
.submit:hover {
    border: 1px solid var(--primary);
    background: var(--primary);
}

/**== Form Css Open ==**/
.form_banner{
	background-size:cover;
	background-position:center;
}
.form_wrapper{      
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	padding: 60px 20px;
}
.form_wrapper .box{
	border-radius:20px;
	overflow:hidden;
	box-shadow:2px 6px 8px -4px rgb(0 0 0 / 30%);
	max-width:1100px;
	width:100%;
}
img{
	max-width: 100%;
}
.form_wrapper .left_img{
	object-fit:cover;
}
.form_inner {
    background-color: #fff; 
    background-image: url('../images/login/icon.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.form_inner h3{
	margin:15px 0;
	font-weight:500;
}
input:focus,
input:hover{
	outline: none !important;
	box-shadow: none !important;
}
/**== Form Css Close ==**/

/**== SideNav Css Open ==**/
header{
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
	width:100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    transition: all 100ms linear 0s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.sidenav{
	background-color: #f3f8fc;
	width: 72px;
	overflow: hidden !important;
	bottom: 0;
    height: auto !important;
    transition: all 300ms ease-out !important;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
	top: 0;
	left: 0;
    right: auto;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 99999;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}
.sidenav.hovered{
	width:auto;
}
.sidenav_inner{
	background-color: #f3f8fc;
	border-bottom:2px solid #eee;
}

.sidenav_inner .logo{
	display: flex;
    padding: 16px;
    align-items: center;
	height: 72px;
}
.sidenav_inner .logo img{
	display:inline-block;
	width:100%;
}
.sidenav .logo img.full_logo,
.sidenav.hovered .logo img.small_logo{
	display: none;
}
.sidenav.hovered .logo img.full_logo{
	display: block;
}
.sidemenu_list{
	padding-top: 8px;
    padding-bottom: 8px;
	margin: 0;
    padding: 20px 0;
    position: relative;
    list-style: none;
}
.sidemenu_list li{
	display: block;
}
.sidemenu_list li a{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
	justify-content: center;
    height: 40px;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 8px 16px 0px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
	text-decoration: none;
    color:#000;
	position: relative;
}
.sidenav.hovered .sidemenu_list li a{
	justify-content: start;
}
.sidemenu_list li a:hover,
.sidemenu_list li a.active {
    background-color: var(--primary);
    color:#fff;
}
.sidemenu_list li a i{
	color: inherit;
}
.sidemenu_list li a span{
	font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
	white-space: nowrap;
    margin-left: 8px;
    display: none;
	color: inherit;
}
.sidenav.hovered .sidemenu_list li a span{
	display:block;
}
/* Dropdown styles */
.sidenav .sidemenu_list .dropdown-menu {
    display: none;
    position: relative;
    background-color: #fff;
    border: none;
    margin-top: 10px; 
    padding-left: 10px; 
}

.sidenav.hovered .sidemenu_list .dropdown-menu.show {
    display: block;
}
.sidenav .sidemenu_list .dropdown-menu li a{
	margin: 5px 0;
}
.sidenav .sidemenu_list .dropdown-toggle::after{
position: absolute;
right: 10px;
}

header nav{
	padding-left: 90px !important;
	height: 70px;
    display: flex;
    align-items: center;
}
.nav_left{
	display: flex;
	align-items: center;
}
.nav_left .back{
	margin-right: 20px;
}
.breadcrumb{
	margin:0;
	padding: 0;
	display: flex;
	align-items: center;
}
.breadcrumb li{
	display:inline-block;
	margin: 0 6px;
}
.breadcrumb li a{
	text-decoration: none;
	font-weight: 500;
	color:#000;
}
.nav_right{
	display: flex;
	align-items: center;
}
.hamburger{
	display: none;
}
.users_profile img{
	width:36px;
	height:36px;
	border-radius: 100%;
}
.users_profile a.dropdown-toggle::after{
	display: none;
}
@media(max-width:767px){
	.hamburger{
		display: inline-block;
		margin-right: 10px;
		font-size: 30px;
	}
	header nav{
		padding-left: 0 !important;
	}
	
	.sidenav{
		display:none;
	}
	.sidenav.hovered{
		display: block;
	}
}
/**== SideNav Css Close ==**/
.innerpage{
	padding: 120px 0 40px;
}
@media(min-width:768px){
	.innerpage{
		margin-left:72px;
		padding: 140px 0 60px;
	}
	.innerpage>.container{
		max-width:1100px;
	}
}
